{{ define "main" }}

<input type="hidden" id="page_type" value="index"/>

<div class="content">
  <div id="home" class="text-center p-3">
      <p>
          Somos <strong>afiliados</strong> da Shopee, Aliexpress e Amazon.
          <br/>
          Todos os nossos links de produto são direcionados para as devidas plataformas e respectivos vendedores.
          <br/>
          Nós apenas fazemos a indicação de produtos, novidades e achadinhos incríveis para vocês!
          <br/>
          Sejam Bem Vindos!
      </p>
  </div>
  
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">


      {{ range $index, $page := last 3 .Site.RegularPages.ByPublishDate }}
        <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
          <img src="{{ $page.Params.imagem_perfil }}" class="d-block w-100 imagem_carousel" alt="...">
          <div class="carousel-caption d-none d-md-block carousel_caption_background">
            <h5><strong>{{ $page.Params.Nome }}</strong></h5>
            <p>{{ $page.Params.Descricao }}</p>
            <a href="{{ .Params.Link }}" target="_blank" class="btn btn-secondary">Ir para loja</a>
          </div>
        </div>
      {{ end }}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>


<h2 id="produtos" class="py-3 text-center">Produtos</h2>

<div class="py-3 d-flex justify-content-center row gx-0">
  <div id="btn_group_produtos" class="btn-group-vertical" role="group" aria-label="Basic example">

    <button type="button" class="col filter_button btn btn-secondary active" onclick="return mount_pagination(1, 'all')">Todos</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'cozinha')">Cozinha</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'saude')">Saúde e Beleza</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'celulares')">Celulares e acessórios</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'casa')">Casa e decoração</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'utilidades')">Utilidades domésticas</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'roupas')">Roupas e acessórios</button>
    <button type="button" class="col filter_button btn btn-secondary" onclick="return mount_pagination(1, 'eletronicos')">Eletrônicos</button>
  </div>
</div>

<input id="items_per_page" type="hidden" value="12" />

<div class="container-fluid row gx-0 justify-content-center pb-4">

  {{ range .Site.RegularPages.ByPublishDate.Reverse }}

    <div class="filterDiv card card_size m-4 {{ .Params.categoria }}">
      <div class="card-body d-flex">
          <img src="{{ .Params.imagem_perfil }}" class="d-inline mx-3 imagem_produto" alt="">
          <div class="">
              <h5 class="card-title">{{ .Params.Nome }}</h5>
              <p class="card-text">{{ .Params.Descricao }}</p>
              <hr>
              <p><strong>Preço: </strong>{{ .Params.Preco }}</p>
              <div class="d-flex flex-row justify-content-end align-items-center align-self-center">
                
                
                <a href="{{ .RelPermalink }}" class="btn btn-secondary mx-2">Detalhes</a>
                <a href="{{ .Params.Link }}" target="_blank" class="btn btn-primary">Comprar</a>
            </div>
              
          </div>
      </div>
    </div>
    
  {{ end }}

  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example ">
      <ul class="pagination">
        <li id="previous_page" class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
        <div id="numbered_pages" class="d-flex flex-row">
          <li class="page-item"><a class="page-link" href="#">será gerado dinamicamente</a></li>
        </div>
        
        <li id="next_page" class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </nav>  
  </div>
  

</div>

{{ end }}

