<footer id="footer" class="bg-light text-center text-lg-start">

    <div class="row gx-0">

      <div class="col mx-4 d-flex justify-content-center">
        <img class="logo_footer" src="/assets/img/logo.svg" alt="logotipo do site">
      </div>

      <div class="col text-center mx-4 p-4 d-flex flex-column">
        <h3>Contatos</h3>

        <div class="d-flex flex-row justify-content-center">
          <a href="mailto:ofertasmagicas@gmail.com" class="mx-3 text-reset">
            <i class="bi-envelope-at-fill"></i>
          </a>
          <a  href="https://www.facebook.com/ofertasmagicas_oficial" class="mx-3 text-reset">
            <i class="bi-facebook"></i>
          </a>
          <a href="https://twitter.com/ofertasmagicas_oficial" class="mx-3 text-reset">
            <i class="bi-twitter"></i>
          </a>
          <a href="https://instagram.com/ofertasmagicas_oficial" class="mx-3 text-reset">
            <i class="bi-instagram"></i>
          </a>
        </div>

        <p class="py-1">© 2023 Ofertas mágicas - Todos os direitos reservados.</p>
        
      </div>

      <div class="col text-center mx-4 p-4 d-flex flex-column">
        <h3>Parceiros</h3>
        <div class="d-flex flex-row justify-content-center">
          <a href="https://instagram.com/ofertasmagicas_oficial" class="mx-3 text-reset">
            <i class="bi-instagram"></i>
          </a>
          <p>Seja nosso parceiro!</p>
        </div>
        

      
    </div>
    
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>