{{ define "main" }}
<!-- <h2>{{ .Params.Nome }}</h2>
{{ .Content }} -->

<div class="mt-3 mb-5 mx-5 container">

    <div id="carouselExampleIndicators" class="product_detais_images carousel slide carousel-fade" data-bs-ride="carousel">
        <!-- Slides -->
        <div class="carousel-inner mb-5">
            {{ range $index, $imagem :=  .Params.imagens }}
                <div class="carousel-item {{ if eq $index 0 }} active {{ end }}">
                    <img src="{{ $imagem }}" class="d-block imagem_carousel" alt="..." />
                </div>
            {{ end }}
        </div>
        <!-- Slides -->
      
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Controls -->
      
        <!-- Thumbnails -->
        <div class="carousel-indicators" style="margin-bottom: -20px;">

            {{ range $index, $imagem :=  .Params.imagens }}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $index }}" class="active"
                aria-current="true" aria-label="Slide 1" style="width: 100px;">
                <img class="d-block w-100"
                src="{{ $imagem }}" class="img-fluid" />
            </button>
            {{ end }}

        </div>
        <!-- Thumbnails -->
      </div>

      <div>
        <h4>{{ .Params.Nome }}</h4>
        <div class="row align-items-center">
          <p class="m-0 col"><strong>Preço:</strong> {{ .Params.Preco  }}</p>
          <a href="{{ .Params.Link }}" target="_blank" class="col btn btn-primary mx-3">Comprar</a>
        </div>
        
        <hr>
        <p>{{ .Content }}</p>
      </div>
</div>

{{ end }}